/*    ========================== default style  toolpiip ================*/

.toolpip {
    display: none;
    position: absolute;
    z-index: 10;
    line-height: 1;
    border-radius: 4px;
    padding: 5px 10px;
    color: white;
    max-width: 140px;
    min-width: 100px;
    text-align: center;
    width: auto;
    font-size: 14px;
    background: rgba(102, 100, 102, 1);
   }
.toolpip:after{
    content: '';
    display: block;
    position: absolute;
}
.toolpip[data-show='right']:after{
    right: 100%;
    top: 50%;
    margin-top: -8px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 8px solid rgba(102, 100, 102, 1);
    border-bottom: 8px solid transparent;
}
.toolpip[data-show='left']:after{
    left: 100%;
    top: 50%;
    margin-top: -8px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 8px solid rgba(102, 100, 102, 1);
    border-bottom: 8px solid transparent;
}
.toolpip[data-show='top']:after{
    left: 50%;
    top: 100%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid rgba(102, 100, 102, 1);
}
.toolpip[data-show='bottom']:after{
    left:50%;
    bottom:100%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid  rgba(102, 100, 102, 1);
}

.toolpip p {
    margin: 0;
}